body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

header {
    position: relative;
}

#go-home-link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

h1 {
    font-size: 36px;
}

#join-code {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

#join-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 5px;
}

@media (max-width: 600px) {
    /* Adjust styles for smaller screens */
    body {
        margin: 20px;
    }
    h1 {
        font-size: 28px;
    }
    /* Add more adjustments as needed */
}
